.cardbox{
    border: 1px solid #6b6b6b66;
    border-radius: 15px;
    padding: 5%;
    margin: 10px;
    background: #F5FCCD;
}
.card-body .card-head{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    color: #999999;
}

.card-body .head-text{
    font-weight: 500;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #005f62;
}

.card-body .card-head img{
    border-radius: 50%;
    width: 75%;
    height: 4vh;
    cursor: pointer;
}

.card-body .card-text{
    font-size: 1em;
    padding: 5px 0px 5px 0px;
    font-weight: 600;
    font-family: sans-serif;
    color: #3f3c3c;
    margin: 0px !important;
}

.card-footer{
    height: fit-content;
    display: flex;
    flex-direction: row;
    color: #646464;
}
.card-footer .icon-box{
    width: 30px;
    display: inline-flex;
    height: 30px;
    border: 1px solid black;
    /* padding: 0px; */
    justify-content: center;

}

.card-footer .feature-box {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border: 1px solid #6b6b6b26;
    border-radius: 7px;
    margin: 3px;
    align-items: center;
    /* color: #999999; */
    cursor: pointer;
}

.card-footer .feature-box .round-box{
    width: 10px;
    height: 10px;
    background: #50505047;
    border-radius: 20px;
  
}

.card-footer .feature-box .material-symbols-outlined {
    color: #999999 !important;
    position: relative;
    
    
}
.card-footer .feature-box .material-symbols-outlined {
    color: #999999 !important;
    position: relative;
}

.card-footer .feature-box .feature-text{
    padding: 0px 0px 0px 6px;
    font-size: 0.7rem;
    font-weight: 500;
    /* color: #999999; */
    font-family: sans-serif;
}


